canvas {
  image-rendering: pixelated;
}
body {
	margin: 0px;
	overflow: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
		padding: 5px;
}

#panels {
	display: table;
	width: 100%;
	height: 100%;
}
#leftPanel, #rightPanel {
	display: table-cell;
}
#leftPanel {
	vertical-align: middle;
    background: black;
		width: 15%;
}
#flowerDisplay {
  image-rendering: pixelated;
}
#rightPanel {
    background-color: #999;
		padding: 16px;
}
#scrollContent{
		overflow: auto;
		font-family: sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}

textarea {
  width: 100%;
  height: 100px;
}
