canvas {
	background-size: contain !important;
	width: 50%;
	image-rendering: pixelated;
	display: block;
}

body {
	padding: 15px;
	background-color: #222222 !important;
}

.json {
	font-family: monospace, sans-serif;
}